
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Departman Ekle</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("DepartmanEkle", "Departman", FormMethod.Post))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>Departman Adı: </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" required name="name" placeholder="Departman İsmi Giriniz..." class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" value="Ekle" class="form-control btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

