@* TODO : Linkler verilecek *@

<div class="sidebar-nav-fixed affix" style="margin-top:65px;">
    <div class="well">
        <ul class="nav">
            <li class="nav-header">İşlem Menüsü</li>
            <li class="active">
                <a href="@Url.Action("Index","Yonetici")">Çalışan İşlemleri</a>
            </li>
            <li>
                <a href="@Url.Action("DepartmanIndex","Departman")">Departman İşlemleri</a>
            </li>
            <li>
                @{ 
                    var yoneticiConcrete = new TelefonRehberi.BLL.Repository.Concrete.YoneticiConcrete();
                }
                <a href="@Url.Action("YoneticiGuncelle","Yonetici",new { id = yoneticiConcrete.GetIDByName(Session["KullaniciAdi"].ToString())})">Yonetici İşlemleri</a>
            </li>
        </ul>
    </div>
</div>
