@* TODO : Linkler verilecek *@

<div class="sidebar-nav-fixed affix">
    <div class="well">
        <ul class="nav">
            <li class="nav-header">İşlem Menüsü</li>
            <li class="active">
                <a href="#">Çalışan İşlemleri</a>
            </li>
            <li>
                <a href="#">Departman İşlemleri</a>
            </li>
            <li>
                <a href="#">Yetki İşlemleri</a>
            </li>
            <li>
                <a href="#">Yonetici İşlemleri</a>
            </li>
        </ul>
    </div>
</div>
