@* TODO : Linkler verilecek *@

<div class="sidebar-nav-fixed affix" style="margin-top:65px;">
    <div class="well">
        <ul class="nav">
            <li class="nav-header">İşlem Menüsü</li>
            <li class="active">
                <a href="@Url.Action("Index","Yonetici")">Çalışan İşlemleri</a>
            </li>
            <li>
                <a href="@Url.Action("Departman","Departman")">Departman İşlemleri</a>
            </li>
            <li>
                <a href="@Url.Action("YoneticiGuncelle","Yonetici")">Yonetici İşlemleri</a>
            </li>
        </ul>
    </div>
</div>
